---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import PersonalLogo from '../images/personal-logo.svg'
import Resume from '../pdfs/resume.pdf'

const linkedinLink = 'https://www.linkedin.com/in/ethan-salonga/'
const githubLink = 'https://github.com/ethansalonga'
const currentYear = new Date().getFullYear()
---

<footer class='bg-242424 flex py-[6%] relative'>
  <div class='container row flex flex-col items-center'>
    <a href='#' class='footer-anchor'> 
      <figure>
        <Image class='invert w-16' src={PersonalLogo} alt='Ethan Salonga personal logo' />
      </figure>
      <span class='footer-logo-popper flex items-center'>
        Top
        <Icon name='mdi:arrow-up' class='w-6 h-6' />
      </span>
    </a>
    <ul class='w-full max-w-lg flex justify-around my-7'>
      <li>
        <a href={linkedinLink} target='_blank' class='text-F5F5F5 link-hover-effect link-hover-effect--white'>
          LinkedIn
        </a>
      </li>
      <li>
        <a href={githubLink} target='_blank' class='text-F5F5F5 link-hover-effect link-hover-effect--white'>
          GitHub
        </a>
      </li>
      <li>
        <a href='#' id='contact' class='text-F5F5F5 link-hover-effect link-hover-effect--white'>
          Contact
        </a>
      </li>
      <li>
        <a href={Resume} target='_blank' class='text-F5F5F5 link-hover-effect link-hover-effect--white'>
          Resume
        </a>
      </li>
    </ul>
    <p class='text-F5F5F5'>Copyright &copy; Ethan Salonga {currentYear}</p>
  </div>
</footer>

<script>
  import { isModalOpen } from '../store'

  function toggleModal() {
    if (isModalOpen.get()) {
      isModalOpen.set(false)
      return document.body.classList.remove('modal--open')
    }
    isModalOpen.set(true)
    document.body.classList.add('modal--open')
  }
  document.getElementById('contact')?.addEventListener('click', toggleModal)
</script>

<style>
  .footer-anchor {
    position: relative;
  }

  .footer-logo-popper {
    position: absolute;
    right: 0;
    top: 16px;
    font-weight: 700;
    opacity: 0;
    transition: all 300ms ease;
    color: #F5F5F5;
  }

  .footer-anchor:hover .footer-logo-popper {
    transform: translateX(60px);
    opacity: 1;
  }
</style>
