---
import BaseLayout from './BaseLayout.astro'
import Image from 'astro/components/Image.astro'
import { formatDate } from '../helpers/formatDate'
import '../styles/global.css'
import '../styles/post.css'

const { frontmatter } = Astro.props
---

<BaseLayout pageTitle={frontmatter.title} pageDescription={frontmatter.description}>
  <section id='blog-post' class='text-242424'>
    <div class='container w-full max-w-screen-sm'>
      <Image
        src={frontmatter.image.url} 
        alt={frontmatter.image.alt} 
        width='640'
        height='360' 
        class='w-full rounded-2xl h-96'
      />
      <h1 class='pt-8 pb-4 text-5xl font-bold tracking-wide'>
        {frontmatter.title}
      </h1>
      <p class='text-lg'>
        Updated on {formatDate(frontmatter.lastModDate)} | 
        <span>Published on {formatDate(frontmatter.pubDate)}</span> |
        <span class='italic'>{frontmatter.readTime} minute read</span>
      </p>
      <p class='text-sm'></p>
      <div class='flex gap-x-4 text-powpow pb-6'>
        {frontmatter.tags.map((tag: string) => (
          <p class='hover:underline'>
            <a href={`/blog/tags/${tag}`}>{tag}</a>
          </p>
        ))}
      </div>
      <slot />
    </div>
  </section>
</BaseLayout>
